{% extends "base.html" %} {% block title %}Kategórie{% endblock %} 


{% block
content%}

<br />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
      .table-responsive {
        border-radius: 20px;
      }
      .table-wrapper {
        width: 50%;
        background: rgb(255, 255, 255);
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
      }
      .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
      }
      .table-title h2 {
        margin: 8px 0 0;
        font-size: 22px;
      }

      .add-button {
        position: relative;
        float: right;
        font-size: 30px;
        color: #50cab5e3;
      }

      .add-button:hover,
      .table td a.edit:hover,
      .table td a.delete:hover {
        color: rgb(100, 224, 211);
      }
   
      table.table tr th,
      table.table tr td {
        border-color: #a6d3cc71;
      }
      table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
      }
      table.table-striped.table-hover tbody tr:hover {
        background-color: #65b9ab2a;
      }
      table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
      }
      table.table td:last-child {
        width: 50px;
      }
      table.table td a {
        color: #a0a5b1;
        display: inline-block;
        margin: 0 5px;
      }

      table.table td a.edit {
        color: #50cab5e3;
      }
      table.table td a.delete {
        color: #50cab5e3;
      }
      table.table td i {
        font-size: 19px;
      }

      .table {
        line-height: 17px;
        width: 100%;
      }

      .scrollable-table {
        overflow: hidden;
        overflow-y: scroll;
        height: 177.2px;
        border: 1px solid rgba(128, 128, 128, 0.198);
      }
      .transaction-type {
        float: right;
        text-align: center;
        width: 80px;
        padding: 5px 10px;
        border-radius: 15px;
      }

      .transaction-type.income {
        background-color: #77dd773f;
      }

      .transaction-type.expense {
        background-color: #ff6d6a46;
      }
    </style>
  </head>
  <body>
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm"><h2>Kategórie</h2></div>
            <div class="col-sm">
              <div>
                <a href="/addCategory"
                  ><i class="fa-sharp fa-solid fa-circle-plus add-button"></i
                ></a>
              </div>
              <!-- <div class="search-box">
                               
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control" placeholder="Search&hellip;">

                            </div> -->
            </div>
          </div>
        </div>
        <div class="scrollable-table">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Výdaj</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in entries %}

              <tr>
              

                {% if entry.name == 'výdaj' %}

                <td>
                  <i style="color: #2ebf91" class="{{ entry.icon }}"></i
                  ><span> {{ entry.type }}</span>
                </td>

                <td>
                  <a
                    href="{{ url_for('views.deleteCategory', id = entry.id) }}"
                    class="delete"
                    title="Delete"
                    ><i class="fa-solid fa-trash-can-arrow-up"></i
                  ></a>
                </td>

                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <br />

        <div class="scrollable-table">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Príjem</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for entry in entries %}

              <tr>
                {% if entry.name == 'príjem' %}

                <td>
                  <i
                    style="color: rgb(62, 176, 193)"
                    class="{{ entry.icon }}"
                  ></i
                  ><span> {{ entry.type }}</span>
                </td>

                <td>
                  <a
                    href="{{ url_for('views.deleteCategory', id = entry.id) }}"
                    class="delete"
                    title="Delete"
                    ><i class="fa-solid fa-trash-can-arrow-up"></i
                  ></a>
                </td>

                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br /><br />
  </body>
</html>

{% endblock %}
